// Основные настройки оформления окон
window-rule {
    default-column-width { proportion 0.75; }
    default-window-height { proportion 1.0; }

    min-height 100
    
    exclude app-id="org.kde.kcalc"
}
window-rule {
    geometry-corner-radius 20 // Скругление углов для всех окон
    clip-to-geometry true
}
// Правило для всех новых окон
window-rule {
    default-column-width { proportion 0.85; }
}

// Настройка обоев и фона
layer-rule {
    match namespace="^noctalia-wallpaper*"
    place-within-backdrop true
}

// Правило для Elder Scrolls Online (ESO)
window-rule {
    match app-id="eso64.exe"
    open-maximized true
}

// Правило для Thunar (Всегда прозрачный 0.85)
window-rule {
    match app-id="thunar"
    opacity 0.9
    default-column-width { proportion 0.85; }
}
window-rule {
    match app-id="FFPWA-01KFXC8MZR6CCFRYDEZ7XCA6N5"
    opacity 0.9
}
window-rule {
    match app-id="com.rtosta.zapzap"
    opacity 0.85
}
window-rule {
    match app-id="org.telegram.desktop"
    opacity 0.9
}
window-rule {
    // Это отключит заливку цветом фокуса для всех окон,
    draw-border-with-background false
}
window-rule {
    match app-id="foot"
    default-column-width { proportion 0.8; }
    draw-border-with-background false
}
// Set the overview wallpaper on the backdrop.
layer-rule {
  match namespace="^noctalia-overview*"
  place-within-backdrop true
}
window-rule {
    match app-id="org.kde.kcalc"
    open-floating true

    // Используем стандартные блоки для задания размера
    default-column-width { fixed 428; }
    default-window-height { fixed 501; }
    
    open-on-output "center"
}
