layout {

    focus-ring {
        active-color   "#4cd9e0"
        inactive-color "#0d141b"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#4cd9e0"
        inactive-color "#0d141b"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#4cd9e0"
        inactive-color "#004f52"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#4cd9e080"
    }
}

recent-windows {
    highlight {
        active-color "#4cd9e0"
        urgent-color "#ffb4ab"
    }
}
