/* Импортируем динамические цвета от Pywal */
@import "../../.cache/wal/colors-waybar.css";

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 14px;
}

window#waybar {
    background: transparent;
}

/* Общий стиль для всех "островков" */
#window, 
#workspaces, 
#clock, 
#tray, 
#pulseaudio, 
#backlight, 
#battery, 
#custom-wallpaper, 
#language, 
#custom-updates,
#memory {
    background-color: rgba(13, 25, 38, 0.85); 
    color: @color12; 
    border-radius: 12px;
    padding: 2px 12px;
    margin: 4px 2px;
    border-bottom: 2px solid alpha(@color12, 0.2);
    font-weight: bold;
}

/* Настройки рабочих столов */
#workspaces button {
    padding: 0 5px;
    color: @foreground;
    opacity: 0.5;
    border-radius: 8px;
}

#workspaces button.active {
    color: @color12;
    background: alpha(@color12, 0.15);
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

/* Кнопка питания */
#custom-power {
    color: @color1;
    padding: 0 15px;
    margin-right: 5px;
    font-size: 18px;
}

/* Состояния виджета обновлений */
#custom-updates.pending {
    color: @color1; /* Акцентный цвет, когда есть обновления */
}

#custom-updates.up-to-date {
    color: @color12; /* Обычный цвет, когда всё чисто */
}
