/* Импортируем динамические цвета от Pywal */
@import "../../.cache/wal/colors-waybar.css";

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font", monospace;
    font-size: 14px;
}

window#waybar {
    background: transparent;
}

/* Общий стиль для всех "островков" */
#window, 
#workspaces, 
#clock, 
#tray, 
#pulseaudio, 
#backlight, 
#battery, 
#custom-wallpaper, 
#language, 
#custom-updates,
#memory {
    /* Используем динамический фон из Pywal с прозрачностью */
    background-color: alpha(@background, 0.85); 
    color: @color12; 
    border-radius: 12px;
    padding: 2px 12px;
    margin: 4px 4px;
    border-bottom: 2px solid alpha(@color12, 0.3);
    font-weight: bold;
}

/* Настройки рабочих столов */
#workspaces button {
    padding: 0 5px;
    color: @foreground;
    opacity: 0.5;
    border-radius: 8px;
}

#workspaces button.active {
    color: @color12;
    background: alpha(@color12, 0.15);
    border-bottom: 2px solid @color12;
}

#workspaces button.urgent {
    background-color: @color1;
}

/* Кнопка питания */
#custom-power {
    color: @color1;
    background-color: alpha(@background, 0.85);
    border-radius: 12px;
    padding: 0 15px;
    margin: 4px 4px;
    font-size: 18px;
    border-bottom: 2px solid alpha(@color1, 0.3);
}

/* Состояния виджета обновлений */
#custom-updates.pending {
    color: @color1; 
}

#custom-updates.updated {
    color: @color12; 
}

/* Трей */
#tray {
    margin: 4px;
}
